Repository KuleshSP/todo-app: changes, and which lefthook commands are due for each by the changed paths.
All: typescript, lintstyles, lintjavascript

typescript:
  run: npx tsc --noEmit

lintstyles:
  run: npx stylelint {staged_files} --fix

lintjavascript:
  run: npx eslint {staged_files} --fix

Changes paper width
  src/components/Header/styles.module.scss
  src/components/Paper/styles.module.scss
  src/styles/globals.scss
Due: lintstyles

Changes font
  src/styles/globals.scss
Due: lintstyles

Changes min-width, fixes styles for mobile
  src/components/Header/styles.module.scss
  src/components/Paper/styles.module.scss
  src/features/TaskTracker/index.tsx
  src/features/TaskTracker/styles.module.scss
Due: typescript, lintstyles

Changes styles for modal
  src/features/TaskTracker/TaskTrackerTransferModal/index.tsx
  src/features/TaskTracker/TaskTrackerTransferModal/styles.module.scss
Due: typescript, lintstyles

Changes styles for header actions
  src/features/TaskTracker/TaskTrackerComponents/styles.module.scss
  src/features/TaskTracker/styles.module.scss
Due: lintstyles

Creates drag wrapper component
  src/features/TaskTracker/TaskTrackerComponents/index.tsx
  src/features/TaskTracker/TaskTrackerComponents/styles.module.scss
  src/features/TaskTracker/services/useDragAndDrop.tsx
Due: typescript, lintstyles

Changes handleTask function, updates uuid lib
  package-lock.json
  package.json
  src/features/TaskTracker/TaskTrackerComponents/index.tsx
  src/features/TaskTracker/index.tsx
  src/features/TaskTracker/services/useTaskTracker.tsx
  src/utils/uuid.ts
Due: typescript

Splits TaskTracker component to modules
  src/components/TextInput/styles.module.scss
  src/features/Layout/LayoutHeader/index.tsx
  src/features/Project/components/ProjectDragBox/index.tsx
  src/features/Project/components/ProjectDragBox/styles.module.scss
  src/features/Project/components/ProjectTask/index.tsx
  src/features/Project/components/ProjectTask/styles.module.scss
  src/features/Project/components/ProjectTaskCreator/index.tsx
  src/features/Project/components/ProjectTaskCreator/styles.module.scss
  src/features/Project/components/ProjectTasksList/index.tsx
  src/features/Project/components/ProjectTasksList/styles.module.scss
  src/features/Project/components/ProjectTasksSearch/index.tsx
  src/features/Project/components/ProjectTransferModal/index.tsx
  src/features/Project/components/ProjectTransferModal/styles.module.scss
  src/features/Project/components/index.tsx
  src/features/Project/components/styles.module.scss
  src/features/Project/services/ProjectContext.tsx
  src/features/Project/services/ProjectProvider.tsx
  src/features/Project/services/types.ts
  src/features/Project/services/useProject.tsx
  src/features/Project/services/utils.ts
  src/features/TaskTracker/TaskTrackerComponents/index.tsx
  src/features/TaskTracker/components/index.tsx
  src/features/TaskTracker/components/styles.module.scss
  src/features/TaskTracker/index.tsx
  src/features/TaskTracker/services/TackTrackerContext.tsx
  src/features/TaskTracker/services/TaskTrackerProvider.tsx
  src/features/TaskTracker/services/types.ts
  src/features/TaskTracker/services/useTaskTracker.tsx
  src/features/TaskTracker/styles.module.scss
  src/hooks/useDragAndDrop.tsx
  src/pages/[id].tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/globals.scss
Due: typescript, lintstyles

Path conditions:
  typescript: any of: *.{ts,tsx}
  lintstyles: any of: *.{css,scss}
  lintjavascript: any of: ?(\\[)+([a-z0-9-])?(\\]).{js,ts,tsx}
